:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #7a0f0f;
    --cor-de-fundo: #000000;
}

body {
    background-color: var(--cor-de-fundo);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("");

}

.container {
    height: 100vh;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 80% 50%;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal)
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.container_aviso {container_aviso 
    {grid-template-columns: 0% 50%;
    
    }
    grid-template-columns: 0% 50%;
    container_aviso {
        grid-template-columns: 0% 50%;
     }
     }